:root {
    --fonte-color: #1e1e2a;
    --bg-color: #4ba1cf;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--fonte-color);
}

/* header */

#header-container {
    height: 100vh;
    width: 100%;
    background-color: var(--bg-color);
    background-image: url('../img/foto-jorge.png');
    background-repeat: no-repeat;
    background-position: 65vw;
    background-size: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding-left: 115px;
    position: relative;
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
}

.social-media {
    margin-top: 1rem;
    display: flex;
}

.social-media a, 
.social-media .btn-formacao {
    text-decoration: none;
    color: var(--fonte-color);
    margin: .2rem;
    padding: 1rem 3rem;
    background-color: var(--bg-color);
    border: 1px solid var(--fonte-color);
    border-radius: 10px;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
}

a:hover,
.btn-formacao:hover {
    background-color: #95d4f6;
}

/* MENU HAMBURGUER */

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out;
}

.checkbox .trace {
    width: 50px;
    height: 2px;
    background-color: var(--fonte-color);
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1) {
    top: 26px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(2) {
    top: 46px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(3) {
    top: 66px;
    transform: rotate(0);
}

#toggle {
    display: none;
}

/* MENU */

.menu {
    position: absolute;
    top: 28px;
    right: 30px;
    background-color: transparent;
    height: 4px;
    width: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px #fff;
    z-index: -1;
    transition: 400ms ease-in-out 0s;
}

.menu-items {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
}

.menu-items ul {
    list-style-type: none;
}

.menu-items ul li a {
    margin: 10px 0;
    color: var(--fonte-color);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
}

/* ANIMAÇÃO DO MENU */
#toggle:checked + .checkbox .trace:nth-child(1) {
    transform: rotate(45deg);
    top: 47px;
}

#toggle:checked + .checkbox .trace:nth-child(2) {
    transform: translate(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}

#toggle:checked + .checkbox .trace:nth-child(3) {
    transform: rotate(-45deg);
    top: 48px;
}

#toggle:checked + .checkbox {
    background-color: #fff;
}

#toggle:checked ~ .menu {
    box-shadow: 0px 0px 0px 100vmax #fff;
    z-index: 1;
}

#toggle:checked ~ .menu-items {
    visibility: visible;
    opacity: 1;
}

#container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3rem auto;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
}

.card {
    width: 300px;
    height: 300px;
    border: 2px solid var(--fonte-color);
    border-radius: 100%;
    margin: 3rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff00;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
    color: #000000;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.project1 {
    background-image: url('../img/doardor-rp-logo-dark.png');
}

.project2 {
    background-image: url('../img/pokeball.png');
}

.project3 {
    background-image: url('../img/foto-jorge.png');
}

.card-text {
    width: 40%;
    letter-spacing: 1px;
    color: var(--fonte-color);
}

.card-text a {
    text-decoration: none;
}

.card-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-wrapper::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    border: 1px solid #000000;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.card-wrapper h2 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.5s ease-in-out;
}

.card-wrapper p {
    font-size: 40px;
    visibility: visible;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}

.card:hover {
    filter: unset;
}

.card:hover > .card-wrapper::before {
    height: 260px;
    width: 260px;
    opacity: 1;
}

.card:hover > .card-wrapper p {
    opacity: 1;
    visibility: visible;
    font-size: 20px;
}

.card a {
    text-decoration: none;
    color: #fff;
}

.card-text img {
    max-width: 50px;
    margin: 0 .5rem;
}

#container-courses {
    width: 50%;
    padding: 0;
    margin: 5px auto;
}

.courses, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.courses p::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/check.svg');
    margin-right: .5rem;
}

dialog::backdrop {
    background-color: rgb(0 0 0 / .5);
}

dialog {
    padding: 20px;
    border: none;
    border-radius: .5rem;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
    width: 80%;
    text-align: justify;
}


/* FOOTER */

#footer-container {
    width: 100%;
    height: 100px;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--fonte-color);
}

@media only screen and (max-width: 1440px) {
    h1 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 1024px) {
    h1 {
        font-size: 40px;
    }
    #header-container {
        padding: 0;
        flex-direction: row;
        align-items: flex-end;
        background-position: 50% 10%;
        background-size: 50%;
    }

    .header {
        margin-bottom: 25px;
    }

    .social-media a, 
    .social-media .btn-formacao {
        margin: auto;
    }

    #container-courses {
        width: 80%;
        padding: 0;
        margin: 5px auto;
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 30px;
    }

    #header-container {
        background-position: 50% 15%;
        background-size: 60%;
    }

    .header {
        margin-bottom: 60px;
    }

    .social-media a, 
    .social-media .btn-formacao {
        margin: auto;
    }

    #container-courses {
        width: 80%;
        padding: 0;
        margin: 5px auto;
    }
}

@media only screen and (max-width: 425px) {

    #header-container {
        background-size: 80%;
    }

    .header {
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 150px;
    }

    h1, h2 {
        text-align: center;
    }

    .social-media a, 
    .social-media .btn-formacao {
        margin: auto;
    }

    .card-container {
        display: block;
        margin: auto;
    }

    .card, .card-text {
        margin: 20px auto;
    }

    .card-text {
        width: 95%;
    }

    .card-text a {
        margin: 0;
        padding: 0;
    }

    #container-courses {
        width: 80%;
        padding: 0;
        margin: 5px auto;
    }
    
}